<div class="novelty">
    <div class="container">
        <div class="novelty__inner">
            <div class="novelty__left">
                <h2 class="title">Лен</h2>
            </div>
            <div class="novelty__right">
                <div id="slider-textile0" class="swiper-container novelty-slider-textile slick-slider">
                    <div class="col-sm-4 col-xs-6 product-item-big-card slick-slide">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-item-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02" data-entity="item" style="height: auto;">
                                    <div class="catalog__wrapper ">
                                        <div style="display:none" class="prenone"></div>
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" class="novelty__card" tabindex="0">
                                            <button class="product__button product__button-item product__button-item-view" data-fast-view="/catalog/bluza/bluza-2500-0113-12/?fast_view=Y" tabindex="0">Быстрый просмотр</button>
                                            <div class="data-color-img-list">
                                                <div class="data-color-img__items data-color-img__item-active">
                                                    <div class="custom-img-slider catalog-item-first-pic-pair">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                                <div class="data-color-img__items" data-color-img="Черный">
                                                    <div class="swiper custom-img-slider">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 1"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/565/400_400_1/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 2"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/fa8/400_400_1/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 3"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/854/400_400_1/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 4"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="novelty__card-label">
                                            <div class="novelty__card-label_1">
                                                <span class="novelty__card-label-text">Новинка</span>
                                            </div>
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" id="sale35806" style="display: none" tabindex="0">
                                                <div class="novelty__card-label_5">
                                                    <span class="novelty__card-label-text">СКИДКИ</span>
                                                </div>
                                            </a>
                                            <button class="product__button product__button_like " data-item="35806" data-name="Блуза 2500-0113-12" data-url="%2F" tabindex="0">
                                                <div class="product__button_like-icon"></div>
                                            </button>
                                        </div>
                                        <!-- ./novelty__card-label -->
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">
                                            <p class="novelty__card-title" data-card-title="">Блуза 2500-0113-12 хлопок, лен, черный</p>
                                            <p class="novelty__card-price">
                                                <span style="margin-left: 10px;"></span>
                                            </p>
                                        </a>
                                        <div class="product-item-offers">
                                            <ul class="product-item-offers-list">
                                                <li data-offer-color="2698" title="Черный" data-color="Черный" class="product-item-offers-li product-item-offers-li-color active">Черный</li>
                                            </ul>
                                            <ul class="product-item-offers-list">
                                                <li data-prod-size="35806-3567" data-offer-size="3567" data-size="XS" data-color-group="2698" title="XS" class="product-item-offers-li product-item-offers-li-size active">XS</li>
                                                <li data-prod-size="35806-3565" data-offer-size="3565" data-size="S" data-color-group="2698" title="S" class="product-item-offers-li product-item-offers-li-size">S</li>
                                                <li data-prod-size="35806-3564" data-offer-size="3564" data-size="M" data-color-group="2698" title="M" class="product-item-offers-li product-item-offers-li-size">M</li>
                                                <li data-prod-size="35806-3563" data-offer-size="3563" data-size="L" data-color-group="2698" title="L" class="product-item-offers-li product-item-offers-li-size">L</li>
                                            </ul>
                                        </div>
                                        <div class="product__button-item-box">
                                            <button class="product__button product__button-item product__button-item-add" data-product-id="35806" tabindex="0">добавить в корзину</button>
                                        </div>
                                    </div>
                                    <div class="product-item" style="display: none">
                                        <a class="product-item-image-wrapper" href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12" data-entity="image-wrapper" tabindex="0">
                                            <span class="product-item-image-slider-slide-container slide" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider" data-slider-interval="3000" data-slider-wrap="true">
                                                <span class="product-item-image-slide item active" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/565/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/fa8/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/854/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp');">
                                                </span>
                                            </span>
                                            <span class="product-item-image-original" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp'); display: none;">
                                            </span>
                                            <span class="product-item-image-alternative" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_secondpict" style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp'); display: none;">
                                            </span>
                                            <div class="product-item-label-ring product-item-label-small product-item-label-bottom product-item-label-right" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_dsc_perc" style="display: none;">
                                                <span>0%</span>
                                            </div>
                                            <div class="product-item-image-slider-control-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider_indicator">
                                                <div class="product-item-image-slider-control active" data-go-to="0"></div>
                                                <div class="product-item-image-slider-control" data-go-to="1"></div>
                                                <div class="product-item-image-slider-control" data-go-to="2"></div>
                                                <div class="product-item-image-slider-control" data-go-to="3"></div>
                                                <div class="product-item-image-slider-control" data-go-to="4"></div>
                                            </div>
                                        </a>
                                        <div class="product-item-title">
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12 хлопок, лен, черный" tabindex="0">Блуза 2500-0113-12 хлопок, лен, черный </a>
                                        </div>
                                        <div class="product-item-info-container product-item-price-container" data-entity="price-block">
                                            <span class="product-item-price-old" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price_old" style="display: none;">
                                            </span>&nbsp;
                                            <span class="product-item-price-current" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price">
                                            </span>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="props-block">
                                            <dl class="product-item-properties">
                                                <dt class="hidden-xs">Новинка </dt>
                                                <dd class="hidden-xs">new </dd>
                                            </dl>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="buttons-block">
                                            <div class="product-item-button-container">
                                                <a class="btn btn-default btn-md" href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">Подробнее </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 product-item-big-card slick-slide">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-item-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02" data-entity="item" style="height: auto;">
                                    <div class="catalog__wrapper ">
                                        <div style="display:none" class="prenone"></div>
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" class="novelty__card" tabindex="0">
                                            <button class="product__button product__button-item product__button-item-view" data-fast-view="/catalog/bluza/bluza-2500-0113-12/?fast_view=Y" tabindex="0">Быстрый просмотр</button>
                                            <div class="data-color-img-list">
                                                <div class="data-color-img__items data-color-img__item-active">
                                                    <div class="custom-img-slider catalog-item-first-pic-pair">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                                <div class="data-color-img__items" data-color-img="Черный">
                                                    <div class="swiper custom-img-slider">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 1"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/565/400_400_1/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 2"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/fa8/400_400_1/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 3"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/854/400_400_1/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 4"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="novelty__card-label">
                                            <div class="novelty__card-label_1">
                                                <span class="novelty__card-label-text">Новинка</span>
                                            </div>
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" id="sale35806" style="display: none" tabindex="0">
                                                <div class="novelty__card-label_5">
                                                    <span class="novelty__card-label-text">СКИДКИ</span>
                                                </div>
                                            </a>
                                            <button class="product__button product__button_like " data-item="35806" data-name="Блуза 2500-0113-12" data-url="%2F" tabindex="0">
                                                <div class="product__button_like-icon"></div>
                                            </button>
                                        </div>
                                        <!-- ./novelty__card-label -->
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">
                                            <p class="novelty__card-title" data-card-title="">Блуза 2500-0113-12 хлопок, лен, черный</p>
                                            <p class="novelty__card-price">
                                                <span style="margin-left: 10px;"></span>
                                            </p>
                                        </a>
                                        <div class="product-item-offers">
                                            <ul class="product-item-offers-list">
                                                <li data-offer-color="2698" title="Черный" data-color="Черный" class="product-item-offers-li product-item-offers-li-color active">Черный</li>
                                            </ul>
                                            <ul class="product-item-offers-list">
                                                <li data-prod-size="35806-3567" data-offer-size="3567" data-size="XS" data-color-group="2698" title="XS" class="product-item-offers-li product-item-offers-li-size active">XS</li>
                                                <li data-prod-size="35806-3565" data-offer-size="3565" data-size="S" data-color-group="2698" title="S" class="product-item-offers-li product-item-offers-li-size">S</li>
                                                <li data-prod-size="35806-3564" data-offer-size="3564" data-size="M" data-color-group="2698" title="M" class="product-item-offers-li product-item-offers-li-size">M</li>
                                                <li data-prod-size="35806-3563" data-offer-size="3563" data-size="L" data-color-group="2698" title="L" class="product-item-offers-li product-item-offers-li-size">L</li>
                                            </ul>
                                        </div>
                                        <div class="product__button-item-box">
                                            <button class="product__button product__button-item product__button-item-add" data-product-id="35806" tabindex="0">добавить в корзину</button>
                                        </div>
                                    </div>
                                    <div class="product-item" style="display: none">
                                        <a class="product-item-image-wrapper" href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12" data-entity="image-wrapper" tabindex="0">
                                            <span class="product-item-image-slider-slide-container slide" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider" data-slider-interval="3000" data-slider-wrap="true">
                                                <span class="product-item-image-slide item active" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/565/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/fa8/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/854/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp');">
                                                </span>
                                            </span>
                                            <span class="product-item-image-original" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp'); display: none;">
                                            </span>
                                            <span class="product-item-image-alternative" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_secondpict" style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp'); display: none;">
                                            </span>
                                            <div class="product-item-label-ring product-item-label-small product-item-label-bottom product-item-label-right" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_dsc_perc" style="display: none;">
                                                <span>0%</span>
                                            </div>
                                            <div class="product-item-image-slider-control-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider_indicator">
                                                <div class="product-item-image-slider-control active" data-go-to="0"></div>
                                                <div class="product-item-image-slider-control" data-go-to="1"></div>
                                                <div class="product-item-image-slider-control" data-go-to="2"></div>
                                                <div class="product-item-image-slider-control" data-go-to="3"></div>
                                                <div class="product-item-image-slider-control" data-go-to="4"></div>
                                            </div>
                                        </a>
                                        <div class="product-item-title">
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12 хлопок, лен, черный" tabindex="0">Блуза 2500-0113-12 хлопок, лен, черный </a>
                                        </div>
                                        <div class="product-item-info-container product-item-price-container" data-entity="price-block">
                                            <span class="product-item-price-old" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price_old" style="display: none;">
                                            </span>&nbsp;
                                            <span class="product-item-price-current" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price">
                                            </span>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="props-block">
                                            <dl class="product-item-properties">
                                                <dt class="hidden-xs">Новинка </dt>
                                                <dd class="hidden-xs">new </dd>
                                            </dl>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="buttons-block">
                                            <div class="product-item-button-container">
                                                <a class="btn btn-default btn-md" href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">Подробнее </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 product-item-big-card slick-slide">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-item-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02" data-entity="item" style="height: auto;">
                                    <div class="catalog__wrapper ">
                                        <div style="display:none" class="prenone"></div>
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" class="novelty__card" tabindex="0">
                                            <button class="product__button product__button-item product__button-item-view" data-fast-view="/catalog/bluza/bluza-2500-0113-12/?fast_view=Y" tabindex="0">Быстрый просмотр</button>
                                            <div class="data-color-img-list">
                                                <div class="data-color-img__items data-color-img__item-active">
                                                    <div class="custom-img-slider catalog-item-first-pic-pair">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                                <div class="data-color-img__items" data-color-img="Черный">
                                                    <div class="swiper custom-img-slider">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 1"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/565/400_400_1/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 2"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/fa8/400_400_1/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 3"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/854/400_400_1/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 4"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="novelty__card-label">
                                            <div class="novelty__card-label_1">
                                                <span class="novelty__card-label-text">Новинка</span>
                                            </div>
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" id="sale35806" style="display: none" tabindex="0">
                                                <div class="novelty__card-label_5">
                                                    <span class="novelty__card-label-text">СКИДКИ</span>
                                                </div>
                                            </a>
                                            <button class="product__button product__button_like " data-item="35806" data-name="Блуза 2500-0113-12" data-url="%2F" tabindex="0">
                                                <div class="product__button_like-icon"></div>
                                            </button>
                                        </div>
                                        <!-- ./novelty__card-label -->
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">
                                            <p class="novelty__card-title" data-card-title="">Блуза 2500-0113-12 хлопок, лен, черный</p>
                                            <p class="novelty__card-price">
                                                <span style="margin-left: 10px;"></span>
                                            </p>
                                        </a>
                                        <div class="product-item-offers">
                                            <ul class="product-item-offers-list">
                                                <li data-offer-color="2698" title="Черный" data-color="Черный" class="product-item-offers-li product-item-offers-li-color active">Черный</li>
                                            </ul>
                                            <ul class="product-item-offers-list">
                                                <li data-prod-size="35806-3567" data-offer-size="3567" data-size="XS" data-color-group="2698" title="XS" class="product-item-offers-li product-item-offers-li-size active">XS</li>
                                                <li data-prod-size="35806-3565" data-offer-size="3565" data-size="S" data-color-group="2698" title="S" class="product-item-offers-li product-item-offers-li-size">S</li>
                                                <li data-prod-size="35806-3564" data-offer-size="3564" data-size="M" data-color-group="2698" title="M" class="product-item-offers-li product-item-offers-li-size">M</li>
                                                <li data-prod-size="35806-3563" data-offer-size="3563" data-size="L" data-color-group="2698" title="L" class="product-item-offers-li product-item-offers-li-size">L</li>
                                            </ul>
                                        </div>
                                        <div class="product__button-item-box">
                                            <button class="product__button product__button-item product__button-item-add" data-product-id="35806" tabindex="0">добавить в корзину</button>
                                        </div>
                                    </div>
                                    <div class="product-item" style="display: none">
                                        <a class="product-item-image-wrapper" href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12" data-entity="image-wrapper" tabindex="0">
                                            <span class="product-item-image-slider-slide-container slide" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider" data-slider-interval="3000" data-slider-wrap="true">
                                                <span class="product-item-image-slide item active" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/565/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/fa8/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/854/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp');">
                                                </span>
                                            </span>
                                            <span class="product-item-image-original" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp'); display: none;">
                                            </span>
                                            <span class="product-item-image-alternative" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_secondpict" style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp'); display: none;">
                                            </span>
                                            <div class="product-item-label-ring product-item-label-small product-item-label-bottom product-item-label-right" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_dsc_perc" style="display: none;">
                                                <span>0%</span>
                                            </div>
                                            <div class="product-item-image-slider-control-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider_indicator">
                                                <div class="product-item-image-slider-control active" data-go-to="0"></div>
                                                <div class="product-item-image-slider-control" data-go-to="1"></div>
                                                <div class="product-item-image-slider-control" data-go-to="2"></div>
                                                <div class="product-item-image-slider-control" data-go-to="3"></div>
                                                <div class="product-item-image-slider-control" data-go-to="4"></div>
                                            </div>
                                        </a>
                                        <div class="product-item-title">
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12 хлопок, лен, черный" tabindex="0">Блуза 2500-0113-12 хлопок, лен, черный </a>
                                        </div>
                                        <div class="product-item-info-container product-item-price-container" data-entity="price-block">
                                            <span class="product-item-price-old" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price_old" style="display: none;">
                                            </span>&nbsp;
                                            <span class="product-item-price-current" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price">
                                            </span>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="props-block">
                                            <dl class="product-item-properties">
                                                <dt class="hidden-xs">Новинка </dt>
                                                <dd class="hidden-xs">new </dd>
                                            </dl>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="buttons-block">
                                            <div class="product-item-button-container">
                                                <a class="btn btn-default btn-md" href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">Подробнее </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 product-item-big-card slick-slide">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-item-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02" data-entity="item" style="height: auto;">
                                    <div class="catalog__wrapper ">
                                        <div style="display:none" class="prenone"></div>
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" class="novelty__card" tabindex="0">
                                            <button class="product__button product__button-item product__button-item-view" data-fast-view="/catalog/bluza/bluza-2500-0113-12/?fast_view=Y" tabindex="0">Быстрый просмотр</button>
                                            <div class="data-color-img-list">
                                                <div class="data-color-img__items data-color-img__item-active">
                                                    <div class="custom-img-slider catalog-item-first-pic-pair">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                                <div class="data-color-img__items" data-color-img="Черный">
                                                    <div class="swiper custom-img-slider">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 1"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/565/400_400_1/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 2"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/fa8/400_400_1/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 3"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/854/400_400_1/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 4"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="novelty__card-label">
                                            <div class="novelty__card-label_1">
                                                <span class="novelty__card-label-text">Новинка</span>
                                            </div>
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" id="sale35806" style="display: none" tabindex="0">
                                                <div class="novelty__card-label_5">
                                                    <span class="novelty__card-label-text">СКИДКИ</span>
                                                </div>
                                            </a>
                                            <button class="product__button product__button_like " data-item="35806" data-name="Блуза 2500-0113-12" data-url="%2F" tabindex="0">
                                                <div class="product__button_like-icon"></div>
                                            </button>
                                        </div>
                                        <!-- ./novelty__card-label -->
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">
                                            <p class="novelty__card-title" data-card-title="">Блуза 2500-0113-12 хлопок, лен, черный</p>
                                            <p class="novelty__card-price">
                                                <span style="margin-left: 10px;"></span>
                                            </p>
                                        </a>
                                        <div class="product-item-offers">
                                            <ul class="product-item-offers-list">
                                                <li data-offer-color="2698" title="Черный" data-color="Черный" class="product-item-offers-li product-item-offers-li-color active">Черный</li>
                                            </ul>
                                            <ul class="product-item-offers-list">
                                                <li data-prod-size="35806-3567" data-offer-size="3567" data-size="XS" data-color-group="2698" title="XS" class="product-item-offers-li product-item-offers-li-size active">XS</li>
                                                <li data-prod-size="35806-3565" data-offer-size="3565" data-size="S" data-color-group="2698" title="S" class="product-item-offers-li product-item-offers-li-size">S</li>
                                                <li data-prod-size="35806-3564" data-offer-size="3564" data-size="M" data-color-group="2698" title="M" class="product-item-offers-li product-item-offers-li-size">M</li>
                                                <li data-prod-size="35806-3563" data-offer-size="3563" data-size="L" data-color-group="2698" title="L" class="product-item-offers-li product-item-offers-li-size">L</li>
                                            </ul>
                                        </div>
                                        <div class="product__button-item-box">
                                            <button class="product__button product__button-item product__button-item-add" data-product-id="35806" tabindex="0">добавить в корзину</button>
                                        </div>
                                    </div>
                                    <div class="product-item" style="display: none">
                                        <a class="product-item-image-wrapper" href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12" data-entity="image-wrapper" tabindex="0">
                                            <span class="product-item-image-slider-slide-container slide" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider" data-slider-interval="3000" data-slider-wrap="true">
                                                <span class="product-item-image-slide item active" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/565/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/fa8/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/854/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp');">
                                                </span>
                                            </span>
                                            <span class="product-item-image-original" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp'); display: none;">
                                            </span>
                                            <span class="product-item-image-alternative" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_secondpict" style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp'); display: none;">
                                            </span>
                                            <div class="product-item-label-ring product-item-label-small product-item-label-bottom product-item-label-right" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_dsc_perc" style="display: none;">
                                                <span>0%</span>
                                            </div>
                                            <div class="product-item-image-slider-control-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider_indicator">
                                                <div class="product-item-image-slider-control active" data-go-to="0"></div>
                                                <div class="product-item-image-slider-control" data-go-to="1"></div>
                                                <div class="product-item-image-slider-control" data-go-to="2"></div>
                                                <div class="product-item-image-slider-control" data-go-to="3"></div>
                                                <div class="product-item-image-slider-control" data-go-to="4"></div>
                                            </div>
                                        </a>
                                        <div class="product-item-title">
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12 хлопок, лен, черный" tabindex="0">Блуза 2500-0113-12 хлопок, лен, черный </a>
                                        </div>
                                        <div class="product-item-info-container product-item-price-container" data-entity="price-block">
                                            <span class="product-item-price-old" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price_old" style="display: none;">
                                            </span>&nbsp;
                                            <span class="product-item-price-current" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price">
                                            </span>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="props-block">
                                            <dl class="product-item-properties">
                                                <dt class="hidden-xs">Новинка </dt>
                                                <dd class="hidden-xs">new </dd>
                                            </dl>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="buttons-block">
                                            <div class="product-item-button-container">
                                                <a class="btn btn-default btn-md" href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">Подробнее </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 product-item-big-card slick-slide">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-item-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02" data-entity="item" style="height: auto;">
                                    <div class="catalog__wrapper ">
                                        <div style="display:none" class="prenone"></div>
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" class="novelty__card" tabindex="0">
                                            <button class="product__button product__button-item product__button-item-view" data-fast-view="/catalog/bluza/bluza-2500-0113-12/?fast_view=Y" tabindex="0">Быстрый просмотр</button>
                                            <div class="data-color-img-list">
                                                <div class="data-color-img__items data-color-img__item-active">
                                                    <div class="custom-img-slider catalog-item-first-pic-pair">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                                <div class="data-color-img__items" data-color-img="Черный">
                                                    <div class="swiper custom-img-slider">
                                                        <div class="swiper-wrapper custom-img-slider-slides">
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="files/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 1"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/565/400_400_1/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 2"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/fa8/400_400_1/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 3"></div>
                                                            <div class="swiper-slide custom-img-slider-slide"><img src="/upload/resize_cache/iblock/854/400_400_1/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp" data-lazyload="" alt="Блуза 2500-0113-12 хлопок, лен, черный Hass" title="Блуза 2500-0113-12 хлопок, лен, черный Hass, фото 4"></div>
                                                        </div>
                                                        <div class="swiper-pagination custom-img-slider-dots"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="novelty__card-label">
                                            <div class="novelty__card-label_1">
                                                <span class="novelty__card-label-text">Новинка</span>
                                            </div>
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" id="sale35806" style="display: none" tabindex="0">
                                                <div class="novelty__card-label_5">
                                                    <span class="novelty__card-label-text">СКИДКИ</span>
                                                </div>
                                            </a>
                                            <button class="product__button product__button_like " data-item="35806" data-name="Блуза 2500-0113-12" data-url="%2F" tabindex="0">
                                                <div class="product__button_like-icon"></div>
                                            </button>
                                        </div>
                                        <!-- ./novelty__card-label -->
                                        <a href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">
                                            <p class="novelty__card-title" data-card-title="">Блуза 2500-0113-12 хлопок, лен, черный</p>
                                            <p class="novelty__card-price">
                                                <span style="margin-left: 10px;"></span>
                                            </p>
                                        </a>
                                        <div class="product-item-offers">
                                            <ul class="product-item-offers-list">
                                                <li data-offer-color="2698" title="Черный" data-color="Черный" class="product-item-offers-li product-item-offers-li-color active">Черный</li>
                                            </ul>
                                            <ul class="product-item-offers-list">
                                                <li data-prod-size="35806-3567" data-offer-size="3567" data-size="XS" data-color-group="2698" title="XS" class="product-item-offers-li product-item-offers-li-size active">XS</li>
                                                <li data-prod-size="35806-3565" data-offer-size="3565" data-size="S" data-color-group="2698" title="S" class="product-item-offers-li product-item-offers-li-size">S</li>
                                                <li data-prod-size="35806-3564" data-offer-size="3564" data-size="M" data-color-group="2698" title="M" class="product-item-offers-li product-item-offers-li-size">M</li>
                                                <li data-prod-size="35806-3563" data-offer-size="3563" data-size="L" data-color-group="2698" title="L" class="product-item-offers-li product-item-offers-li-size">L</li>
                                            </ul>
                                        </div>
                                        <div class="product__button-item-box">
                                            <button class="product__button product__button-item product__button-item-add" data-product-id="35806" tabindex="0">добавить в корзину</button>
                                        </div>
                                    </div>
                                    <div class="product-item" style="display: none">
                                        <a class="product-item-image-wrapper" href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12" data-entity="image-wrapper" tabindex="0">
                                            <span class="product-item-image-slider-slide-container slide" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider" data-slider-interval="3000" data-slider-wrap="true">
                                                <span class="product-item-image-slide item active" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/565/o3ajwb83wwf2w9e293w6vc1x3tr0icbt.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/fa8/w27cmfqhsi4xnr51pu1g4kdyqr58h7hz.webp');">
                                                </span>
                                                <span class="product-item-image-slide item " style="background-image: url('/upload/iblock/854/fjbv49b7h7cqo5vlr32f5fg5cf4dypqj.webp');">
                                                </span>
                                            </span>
                                            <span class="product-item-image-original" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict" style="background-image: url('/upload/iblock/6c6/cwetckx0vdvz8fm0hp1kwqrg7hfc5ejl.webp'); display: none;">
                                            </span>
                                            <span class="product-item-image-alternative" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_secondpict" style="background-image: url('/upload/iblock/ef5/re8znnvwg63b91tc1fgrom1ldyyfpf5b.webp'); display: none;">
                                            </span>
                                            <div class="product-item-label-ring product-item-label-small product-item-label-bottom product-item-label-right" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_dsc_perc" style="display: none;">
                                                <span>0%</span>
                                            </div>
                                            <div class="product-item-image-slider-control-container" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_pict_slider_indicator">
                                                <div class="product-item-image-slider-control active" data-go-to="0"></div>
                                                <div class="product-item-image-slider-control" data-go-to="1"></div>
                                                <div class="product-item-image-slider-control" data-go-to="2"></div>
                                                <div class="product-item-image-slider-control" data-go-to="3"></div>
                                                <div class="product-item-image-slider-control" data-go-to="4"></div>
                                            </div>
                                        </a>
                                        <div class="product-item-title">
                                            <a href="/catalog/bluza/bluza-2500-0113-12/" title="Блуза 2500-0113-12 хлопок, лен, черный" tabindex="0">Блуза 2500-0113-12 хлопок, лен, черный </a>
                                        </div>
                                        <div class="product-item-info-container product-item-price-container" data-entity="price-block">
                                            <span class="product-item-price-old" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price_old" style="display: none;">
                                            </span>&nbsp;
                                            <span class="product-item-price-current" id="bx_40480796_35806_52eccb44ded0bb34f72b273e9a62ef02_price">
                                            </span>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="props-block">
                                            <dl class="product-item-properties">
                                                <dt class="hidden-xs">Новинка </dt>
                                                <dd class="hidden-xs">new </dd>
                                            </dl>
                                        </div>
                                        <div class="product-item-info-container product-item-hidden" data-entity="buttons-block">
                                            <div class="product-item-button-container">
                                                <a class="btn btn-default btn-md" href="/catalog/bluza/bluza-2500-0113-12/" tabindex="0">Подробнее </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- items-container -->
            </div>
            <!-- component-end -->
            <div class="novelty-swiper-button-prev novelty-swiper-button-prev-0 slick-arrow" style="">
                <svg width="14" height="27" viewBox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 1.5L1.5 13.5" stroke="black" stroke-linecap="square"></path>
                    <path d="M12.5 26L1.5 14" stroke="black" stroke-linecap="square"></path>
                </svg>
            </div>
            <div class="novelty-swiper-button-next novelty-swiper-button-next-0 slick-arrow" style="">
                <svg width="14" height="27" viewBox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 25.5L12.5 13.5" stroke="black" stroke-linecap="square"></path>
                    <path d="M1.5 0.999999L12.5 13" stroke="black" stroke-linecap="square"></path>
                </svg>
            </div>
        </div>
    </div>
</div>