include _header.jade
<div class="top_about_image">
    <picture class="picture">
        <source media="(min-width: 768px)" srcset="files/top_image1-2.jpg">
        <source media="(max-width: 767px)" srcset="files/top_image1-3.jpg">
        <img src="files/top_image1-2.jpg" alt="image">
    </picture>
    <div class="block_inner">
        <div class="title">Мы помогаем нашим клиентам выражать индивидуальность</div>
        <div class="body">Мы верим, что одежда — это не просто элемент гардероба, а способ самовыражения. Мы тщательно продумываем каждую деталь: от выбора материалов до кроя, чтобы вы чувствовали себя уверенно и комфортно в любой ситуации.</div>
    </div>
</div>
<div class="about_block_wr">
    <div class="block_inner">
        <div class="title">HASS — современный бренд качественной женской одежды из натуральных тканей</div>
        <div class="inner">
            <div class="left">
                <div class="image">
                    <img src="files/a1.jpg" alt="">
                </div>
                <div class="item_text_wr">
                    <div class="item_text">
                        <div class="name">Миссия</div>
                        <div class="text">Помочь современной женщине выразить свою исключительность через модную и удобную одежду.</div>
                    </div>
                    <div class="item_text">
                        <div class="name">Видение</div>
                        <div class="text">Мы хотим быть тем брендом, который помогает раскрыть вашу исключительность и сделать каждый день особенным.</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="blockquote">
                    <blockquote>Мы создаем качественную дизайнерскую одежду для женщин, ценящих комфорт и индивидуальность</blockquote> 
                    <div class="name">Хридин Егор Андреевич</div>
                    <div class="job">Генеральный директор</div>
                </div>
                <div class="image">
                    <img src="files/a2.jpg" alt="">
                </div>
            </div>
            <div class="item_text_wr">
                <div class="item_text">
                    <div class="name">Миссия</div>
                    <div class="text">Помочь современной женщине выразить свою исключительность через модную и удобную одежду.</div>
                </div>
                <div class="item_text">
                    <div class="name">Видение</div>
                    <div class="text">Мы хотим быть тем брендом, который помогает раскрыть вашу исключительность и сделать каждый день особенным.</div>
                </div>
            </div>
        </div>
    </div>
</div>                                  
<div class="slider_history">
    <div class="slider_controls">
        <div class="swiper-pagination"></div>
        <div class="slider_arrow">
            <div class="arrow_history prev"></div>
            <div class="arrow_history next"></div>
        </div>
    </div>
    <div class="slider-wrap_history swiper">
        <div class="swiper-wrapper">
            <div class="item swiper-slide">
                <picture class="picture">
                    <source media="(min-width: 768px)" srcset="files/slider-1.jpg">
                    <source media="(max-width: 767px)" srcset="files/slider-1-1.jpg">
                    <img src="files/slider-1.jpg" alt="image">
                </picture>
                <div class="block_inner">
                    <div class="left">История <br>компании</div>
                    <div class="right">
                        <div class="title">2001 год стал для нас отправной точкой</div>
                        <div class="body">Именно тогда мы основали компанию, положив начало пути, который навсегда изменил нашу жизнь. Это был момент, когда мечты обрели форму, а наши амбиции начали воплощаться в реальность.</div>
                    </div>
                </div>
            </div>
            <div class="item swiper-slide">
                <picture class="picture">
                    <source media="(min-width: 768px)" srcset="files/slider-1.jpg">
                    <source media="(max-width: 767px)" srcset="files/slider-1-1.jpg">
                    <img src="files/slider-1.jpg" alt="image">
                </picture>
                <div class="block_inner">
                    <div class="left">История <br>компании</div>
                    <div class="right">
                        <div class="title">Открыли Второй магазин в Саратове</div>
                        <div class="body">Открытие второго магазина в 2009 году стало важным шагом на пути к расширению нашей сети. Это событие не только позволило нам охватить новую аудиторию, но и стало доказательством того, что наш подход к качеству и обслуживанию клиентов находит отклик в сердцах людей.</div>
                    </div>
                </div>
            </div>
            <div class="item swiper-slide">
                <picture class="picture">
                    <source media="(min-width: 768px)" srcset="files/slider-1.jpg">
                    <source media="(max-width: 767px)" srcset="files/slider-1-1.jpg">
                    <img src="files/slider-1.jpg" alt="image">
                </picture>
                <div class="block_inner">
                    <div class="left">История <br>компании</div>
                    <div class="right">
                        <div class="title">Начали участвовать в международной выставке</div>
                        <div class="body">С 2013 года мы регулярно участвуем в международной выставке CPM (Collection Premiere Moscow), одной из крупнейших платформ в мире моды и текстиля, что позволяет нам быть в центре мировых модных трендов.</div>
                    </div>
                </div>
            </div>
            <div class="item swiper-slide">
                <picture class="picture">
                    <source media="(min-width: 768px)" srcset="files/slider-1.jpg">
                    <source media="(max-width: 767px)" srcset="files/slider-1-1.jpg">
                    <img src="files/slider-1.jpg" alt="image">
                </picture>
                <div class="block_inner">
                    <div class="left">История <br>компании</div>
                    <div class="right">
                        <div class="title">Открыли интернет магазин</div>
                        <div class="body">Открытие интернет-магазина позволило нам выйти за пределы традиционных форматов продаж и предложить нашу продукцию клиентам по всей стране. Мы стремились сделать процесс покупок удобным и доступным для каждого, предлагая качественные товары и безупречный сервис в онлайн-формате.</div>
                    </div>
                </div>
            </div>
            <div class="item swiper-slide">
                <picture class="picture">
                    <source media="(min-width: 768px)" srcset="files/slider-1.jpg">
                    <source media="(max-width: 767px)" srcset="files/slider-1-1.jpg">
                    <img src="files/slider-1.jpg" alt="image">
                </picture>
                <div class="block_inner">
                    <div class="left">История <br>компании</div>
                    <div class="right">
                        <div class="title">В 2020 году открыли магазин В ТЦ «Метрополис»</div>
                        <div class="body">Открытие магазина в «Метрополисе» позволило нам не только привлечь внимание московской аудитории, но и укрепить наш имидж как бренда, который ценит качество, стиль и комфорт своих клиентов.</div>
                    </div>
                </div>
            </div>
            <div class="item swiper-slide">
                <picture class="picture">
                    <source media="(min-width: 768px)" srcset="files/slider-1.jpg">
                    <source media="(max-width: 767px)" srcset="files/slider-1-1.jpg">
                    <img src="files/slider-1.jpg" alt="image">
                </picture>
                <div class="block_inner">
                    <div class="left">История <br>компании</div>
                    <div class="right">
                        <div class="title">В 2021 году открыли  магазин в ТРК «Павелецкая Плаза»</div>
                        <div class="body">Магазин в «Павелецкой Плазе» открыл новые горизонты для нашего общения с аудиторией, даря покупателям не только стильный и удобный опыт, но и возможность окунуться в атмосферу, которую мы с любовью создаем для каждого.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blocks_list_wr">
    <div class="block_inner">
        <div class="title">Производство HASS основывается на высоких стандартах качества</div>
        <div class="inner">
            <div class="item_block">
                <div class="left">
                    <img src="files/it_1.jpg" alt="">
                </div>
                <div class="right">
                    <div class="name_title">Материалы</div>
                    <div class="text">Мы не отдаем предпочтение какому-то одному типу ткани, а раскрываем потенциал всех материалов, подаренных нам природой.</div>
                    <div class="inner">
                        <div class="item">
                            <div class="image">
                                <img src="files/slid-1-1.jpg" alt="">
                            </div>
                            <div class="name">Хлопок</div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="files/slid-2-2.jpg" alt="">
                            </div>
                            <div class="name">Лён</div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="files/slid-3-3.jpg" alt="">
                            </div>
                            <div class="name">Вискоза</div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="files/slid-4-4.jpg" alt="">
                            </div>
                            <div class="name">Шелк</div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="files/slid-5-5.jpg" alt="">
                            </div>
                            <div class="name">Крапива Рами</div>
                        </div>
                    </div>
                    <a href="" class="btn_button">Подробнее о материалах</a>
                </div>                  
            </div>
            <div class="item_block">
                <div class="left">
                    <img src="files/it_2.jpg" alt="">
                </div>
                <div class="right">
                    <div class="name_title">Коллекции</div>
                    <div class="text">Мы являемся одним из лидеров по созданию коллекций женской одежды из натуральных тканей. </div>
                    <div class="inner">
                        <div class="item">
                            <div class="image">
                                <img src="files/k-1.jpg" alt="">
                            </div>
                            <div class="name">Осень-зима</div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="files/k-2.jpg" alt="">
                            </div>
                            <div class="name">Весна-лето</div>
                        </div>
                    </div>
                    <a href="" class="btn_button">Смотреть коллекции</a>
                </div>                  
            </div>
        </div>
    </div>
</div>
<div class="team_block_wr">
    <div class="block_inner">
        <div class="title">Команда</div>
        <div class="inner">
            <div class="left">
                <div class="team_text">
                    <div class="item active" data-slid-index="0">
                        <div class="name">Ирина Ивлева</div>
                        <div class="job">Руководитель отдела маркетинга</div>
                        <div class="text">Более 5 лет, помогет клиентам создавать стильные и гармоничные образы.  Для Анны мода — это искусство, и она с радостью делится им с каждым, кто обращается за советом.</div>
                    </div>
                    <div class="item" data-slid-index="1">
                        <div class="name">Имя Фамилия</div>
                        <div class="job">Руководитель отдела маркетинга</div>
                        <div class="text">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Ex velit doloremque animi et veritatis perspiciatis distinctio, cumque accusantium placeat quis neque vitae ab, modi excepturi omnis ut accusamus officia repudiandae.</div>
                    </div>
                    <div class="item" data-slid-index="2">
                        <div class="name">Ирина Ивлева</div>
                        <div class="job">Руководитель отдела маркетинга</div>
                        <div class="text">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Ex velit doloremque animi et veritatis perspiciatis distinctio, cumque accusantium placeat quis neque</div>
                    </div>
                </div>
                <div class="slider_arrow">
                    <div class="arrow_team prev"></div>
                    <div class="arrow_team next"></div>
                </div>
            </div>
            <div class="right">
                <div class="slider-team_img swiper">
                    <div class="swiper-wrapper">
                        <div class="item swiper-slide active" data-slid-index="0">
                            <img src="files/t1.jpg" alt="">
                        </div>
                        <div class="item swiper-slide" data-slid-index="1">
                            <img src="files/t2.jpg" alt="">
                        </div>
                        <div class="item swiper-slide" data-slid-index="2">
                            <img src="files/t1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="select_block_wr">
    <div class="block_inner">
        <div class="left">
            <div class="title">Выбирая HASS, вы выбираете индивидуальность, комфорт и качество</div>
            <div class="text">Наша одежда подчеркивает ваш стиль, обеспечивает удобство на каждый день и служит долго благодаря продуманному дизайну и высокому стандарту производства.</div>
            <a href="" class="btn_button">Каталог</a>
        </div>
        <div class="right">
            <img src="files/s1.jpg" alt="">
        </div>
    </div>
</div>

<div class="form_block_wr">
    <div class="block_inner">
        <div class="left">
            <img src="files/s2.jpg" alt="">
        </div>
        <div class="right">
            <div class="title">Задайте вопрос директору</div>
            <div class="text">Мы ценим ваш интерес к нашему бренду и постараемся ответить максимально быстро.</div>
            <form action="">
                <div class="row">
                    <div class="field">
                        <input type="text" placeholder="Имя">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Телефон">
                    </div>
                </div>
                <div class="field">
                    <textarea name="" placeholder="Ваш вопрос" id=""></textarea>
                </div>
                <button class="btn_button">Отправить</button>
            </form>
        </div>
        
    </div>
</div>
include _footer.jade