include _header.jade
<div class="top_about_image">
    <picture class="picture">
        <source media="(min-width: 768px)" srcset="files/top_image1-2.jpg">
        <source media="(max-width: 767px)" srcset="files/top_image1-3.jpg">
        <img src="files/top_image1-2.jpg" alt="image">
    </picture>
    <div class="block_inner">
        <div class="title">Мы помогаем нашим клиентам выражать индивидуальность</div>
        <div class="body">Мы верим, что одежда — это не просто элемент гардероба, а способ самовыражения. Мы тщательно продумываем каждую деталь: от выбора материалов до кроя, чтобы вы чувствовали себя уверенно и комфортно в любой ситуации.</div>
    </div>
</div>
<div class="about_block_wr">
    <div class="block_inner">
        <div class="title">HASS — современный бренд качественной женской одежды из натуральных тканей</div>
        <div class="inner">
            <div class="left">
                <div class="image">
                    <img src="files/a1.jpg" alt="">
                </div>
                <div class="item_text_wr">
                    <div class="item_text">
                        <div class="name">Миссия</div>
                        <div class="text">Помочь современной женщине выразить свою исключительность через модную и удобную одежду.</div>
                    </div>
                    <div class="item_text">
                        <div class="name">Видение</div>
                        <div class="text">Мы хотим быть тем брендом, который помогает раскрыть вашу исключительность и сделать каждый день особенным.</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="blockquote">
                    <blockquote>Мы создаем качественную дизайнерскую одежду для женщин, ценящих комфорт и индивидуальность</blockquote> 
                    <div class="name">Хридин Егор Андреевич</div>
                    <div class="job">Генеральный директор</div>
                </div>
                <div class="image">
                    <img src="files/a2.jpg" alt="">
                </div>
            </div>
            <div class="item_text_wr">
                <div class="item_text">
                    <div class="name">Миссия</div>
                    <div class="text">Помочь современной женщине выразить свою исключительность через модную и удобную одежду.</div>
                </div>
                <div class="item_text">
                    <div class="name">Видение</div>
                    <div class="text">Мы хотим быть тем брендом, который помогает раскрыть вашу исключительность и сделать каждый день особенным.</div>
                </div>
            </div>
        </div>
    </div>
</div>                                  

include _footer.jade