include _header.jade
<div class="top_block_image">
    <picture class="picture">
        <source media="(min-width: 640px)" srcset="files/top_image1.jpg">
        <source media="(max-width: 639px)" srcset="files/top_image2.jpg">
        <img src="files/top_image1.jpg" alt="image">
    </picture>
    <div class="block_inner">
        <div class="title">Материалы <br>HASS</div>
        <ul>
            <li><a href="">Хлопок</a></li>
            <li><a href="">Лён</a></li>
            <li><a href="">Вискоза</a></li>
            <li><a href="">Крапива Рами</a></li>
            <li><a href="">Шелк</a></li>
        </ul>
    </div>
</div>
<div class="hass_natural_block">
    <div class="block_inner">
        <div class="left">
            <div class="title">Натуральные ткани, в которых тело радуется, а природа отдыхает</div>
            <div class="body">Создаем одежду из натуральных тканей, сочетая экологичность, комфорт и стиль. Наши материалы дышат вместе с вами и радуют долговечностью, сохраняя гармонию с природой.</div>
        </div>
        <div class="right">
            <img src="files/n-img.jpg" alt="">
            <div class="mini">
                <img src="files/n-img2.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="materials_block_wr">
    <div class="block_inner">
        <div class="title">Материалы</div>
        <div class="top_slider">
            <div class="slider-wrap_material swiper">
                <div class="swiper-wrapper">
                    <div class="item swiper-slide active" data-slid-index="0">
                        <img src="files/slid-1.jpg" class="hov" alt="">
                        <div class="image">
                            <img src="files/slid-1-1.jpg" alt="">
                        </div>
                        <div class="name">Хлопок</div>
                        <div class="text">Нежность и свежесть</div>
                    </div>
                    <div class="item swiper-slide" data-slid-index="1">
                        <img src="files/slid-2.jpg" class="hov" alt="">
                        <div class="image">
                            <img src="files/slid-2-2.jpg" alt="">
                        </div>
                        <div class="name">Лён</div>
                        <div class="text">Лёгкость и комфорт</div>
                    </div>
                    <div class="item swiper-slide" data-slid-index="2">
                        <img src="files/slid-3.jpg" class="hov" alt="">
                        <div class="image">
                            <img src="files/slid-3-3.jpg" alt="">
                        </div>
                        <div class="name">Вискоза</div>
                        <div class="text">Элегантность и блеск</div>
                    </div>
                    <div class="item swiper-slide" data-slid-index="3">
                        <img src="files/slid-4.jpg" class="hov" alt="">
                        <div class="image">
                            <img src="files/slid-4-4.jpg" alt="">
                        </div>
                        <div class="name">Шелк</div>
                        <div class="text">Роскошь в каждой детали</div>
                    </div>
                    <div class="item swiper-slide" data-slid-index="4">
                        <img src="files/slid-5.jpg" class="hov" alt="">
                        <div class="image">
                            <img src="files/slid-5-5.jpg" alt="">
                        </div>
                        <div class="name">Крапива Рами</div>
                        <div class="text">Красота и оздоровление</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_slider">
            <div class="slider_text active" data-slid-index="0">
                <div class="inner">
                    <div class="left">
                        <div class="img">
                            <img src="files/slid-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="right">
                        <div class="body">
                            <h2>Шелк часто называют восточной роскошью, он манит взгляд блеском, чрезвычайной гладкостью, изысканностью и элегантностью.</h2>
                            <p>Первое упоминание о шелковой ткани встречается в древних манускриптах еще до нашей эры. На протяжении многих лет шелк был доступен только самым богатым людям, в том числе китайскому императорам и их приближенным. </p>
                            <p>Сегодня шелковая ткань по-прежнему является символом красоты, роскоши и изящества, но используется более широко, чем в древние времена. Современные технологии позволяют сделать материал более износостойким и прочным, а также значительно расширить сферы его применения.</p>
                        </div>
                        <div class="accor_block opened">
                            <div class="accor_name">Свойства шелка</div>
                            <div class="accor_body">
                                <ul>
                                    <li>практичность - материал не мнется, не линяет, не образовывает катышек</li>
                                    <li>легкость и нежность - изделия из вискозы приятно прилегают к телу</li>
                                    <li>износостойкость - хорошо взаимодействует с красителями</li>
                                    <li>не электризуется, хорошо пропускает воздух, позволяет коже дышать</li>
                                    <li>разнообразие цветовой гаммы изделий</li>
                                    <li>гигроскопичность - хорошо поглощает влагу, не вызывает раздражения</li>
                                    <li>не наносит вреда окружающей среде во время производства и утилизации</li>
                                </ul>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Особенности использования шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Как ухаживать за изделиями из шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_text " data-slid-index="1">
                <div class="inner">
                    <div class="left">
                        <div class="img">
                            <img src="files/slid-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="right">
                        <div class="body">
                            <h2>Шелк часто называют восточной роскошью, он манит взгляд блеском, чрезвычайной гладкостью, изысканностью и элегантностью.</h2>
                            <p>Первое упоминание о шелковой ткани встречается в древних манускриптах еще до нашей эры. На протяжении многих лет шелк был доступен только самым богатым людям, в том числе китайскому императорам и их приближенным. </p>
                            <p>Сегодня шелковая ткань по-прежнему является символом красоты, роскоши и изящества, но используется более широко, чем в древние времена. Современные технологии позволяют сделать материал более износостойким и прочным, а также значительно расширить сферы его применения.</p>
                        </div>
                        <div class="accor_block opened">
                            <div class="accor_name">Свойства шелка</div>
                            <div class="accor_body">
                                <ul>
                                    <li>практичность - материал не мнется, не линяет, не образовывает катышек</li>
                                    <li>легкость и нежность - изделия из вискозы приятно прилегают к телу</li>
                                    <li>износостойкость - хорошо взаимодействует с красителями</li>
                                    <li>не электризуется, хорошо пропускает воздух, позволяет коже дышать</li>
                                    <li>разнообразие цветовой гаммы изделий</li>
                                    <li>гигроскопичность - хорошо поглощает влагу, не вызывает раздражения</li>
                                    <li>не наносит вреда окружающей среде во время производства и утилизации</li>
                                </ul>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Особенности использования шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Как ухаживать за изделиями из шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_text " data-slid-index="2">
                <div class="inner">
                    <div class="left">
                        <div class="img">
                            <img src="files/slid-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="right">
                        <div class="body">
                            <h2>Шелк часто называют восточной роскошью, он манит взгляд блеском, чрезвычайной гладкостью, изысканностью и элегантностью.</h2>
                            <p>Первое упоминание о шелковой ткани встречается в древних манускриптах еще до нашей эры. На протяжении многих лет шелк был доступен только самым богатым людям, в том числе китайскому императорам и их приближенным. </p>
                            <p>Сегодня шелковая ткань по-прежнему является символом красоты, роскоши и изящества, но используется более широко, чем в древние времена. Современные технологии позволяют сделать материал более износостойким и прочным, а также значительно расширить сферы его применения.</p>
                        </div>
                        <div class="accor_block opened">
                            <div class="accor_name">Свойства шелка</div>
                            <div class="accor_body">
                                <ul>
                                    <li>практичность - материал не мнется, не линяет, не образовывает катышек</li>
                                    <li>легкость и нежность - изделия из вискозы приятно прилегают к телу</li>
                                    <li>износостойкость - хорошо взаимодействует с красителями</li>
                                    <li>не электризуется, хорошо пропускает воздух, позволяет коже дышать</li>
                                    <li>разнообразие цветовой гаммы изделий</li>
                                    <li>гигроскопичность - хорошо поглощает влагу, не вызывает раздражения</li>
                                    <li>не наносит вреда окружающей среде во время производства и утилизации</li>
                                </ul>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Особенности использования шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Как ухаживать за изделиями из шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_text " data-slid-index="3">
                <div class="inner">
                    <div class="left">
                        <div class="img">
                            <img src="files/slid-1-3.jpg" alt="">
                        </div>
                        <div class="img">
                            <img src="files/slid-1-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="right">
                        <div class="body">
                            <h2>Шелк часто называют восточной роскошью, он манит взгляд блеском, чрезвычайной гладкостью, изысканностью и элегантностью.</h2>
                            <p>Первое упоминание о шелковой ткани встречается в древних манускриптах еще до нашей эры. На протяжении многих лет шелк был доступен только самым богатым людям, в том числе китайскому императорам и их приближенным. </p>
                            <p>Сегодня шелковая ткань по-прежнему является символом красоты, роскоши и изящества, но используется более широко, чем в древние времена. Современные технологии позволяют сделать материал более износостойким и прочным, а также значительно расширить сферы его применения.</p>
                        </div>
                        <div class="accor_block opened">
                            <div class="accor_name">Свойства шелка</div>
                            <div class="accor_body">
                                <ul>
                                    <li>практичность - материал не мнется, не линяет, не образовывает катышек</li>
                                    <li>легкость и нежность - изделия из вискозы приятно прилегают к телу</li>
                                    <li>износостойкость - хорошо взаимодействует с красителями</li>
                                    <li>не электризуется, хорошо пропускает воздух, позволяет коже дышать</li>
                                    <li>разнообразие цветовой гаммы изделий</li>
                                    <li>гигроскопичность - хорошо поглощает влагу, не вызывает раздражения</li>
                                    <li>не наносит вреда окружающей среде во время производства и утилизации</li>
                                </ul>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Особенности использования шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Как ухаживать за изделиями из шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_text" data-slid-index="4">
                <div class="inner">
                    <div class="left">
                        <div class="img">
                            <img src="files/slid-5.jpg" alt="">
                        </div>
                    </div>
                    <div class="right">
                        <div class="body">
                            <h2>Шелк часто называют восточной роскошью, он манит взгляд блеском, чрезвычайной гладкостью, изысканностью и элегантностью.</h2>
                            <p>Первое упоминание о шелковой ткани встречается в древних манускриптах еще до нашей эры. На протяжении многих лет шелк был доступен только самым богатым людям, в том числе китайскому императорам и их приближенным. </p>
                            <p>Сегодня шелковая ткань по-прежнему является символом красоты, роскоши и изящества, но используется более широко, чем в древние времена. Современные технологии позволяют сделать материал более износостойким и прочным, а также значительно расширить сферы его применения.</p>
                        </div>
                        <div class="accor_block opened">
                            <div class="accor_name">Свойства шелка</div>
                            <div class="accor_body">
                                <ul>
                                    <li>практичность - материал не мнется, не линяет, не образовывает катышек</li>
                                    <li>легкость и нежность - изделия из вискозы приятно прилегают к телу</li>
                                    <li>износостойкость - хорошо взаимодействует с красителями</li>
                                    <li>не электризуется, хорошо пропускает воздух, позволяет коже дышать</li>
                                    <li>разнообразие цветовой гаммы изделий</li>
                                    <li>гигроскопичность - хорошо поглощает влагу, не вызывает раздражения</li>
                                    <li>не наносит вреда окружающей среде во время производства и утилизации</li>
                                </ul>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Особенности использования шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                        <div class="accor_block">
                            <div class="accor_name">Как ухаживать за изделиями из шелка</div>
                            <div class="accor_body">
                                <p>Существует ряд правил, которые нужно соблюдать при стирке и глажки льняных изделий. К ним относятся:</p>
                                <ul>
                                    <li>стирать при температуре 30-40° с использованием средств для деликатных тканей без хлора и отбеливателя</li>
                                    <li>сушить одежду рекомендуется в горизонтальном виде, в местах, куда не проникают прямые солнечные лучи</li>
                                    <li>гладить одежду нужно немного влажной, лучше с изнаночной стороны</li>
                                    <li>для глажки лучше использовать отпариватель</li>
                                </ul>
                                <p>Недостаток льняной ткани - она сильно мнется. Учитывая эту особенность материала, нежелательно отжимать изделия во время стирки в машине, лучше аккуратно отжать руками и дать стечь воде. Хранить одежду рекомендуется в горизонтальном положении.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
include _slider.jade
include _footer.jade